.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em 0 1em;
}

.logoContainer {
  width: 35%;
  max-width: 150px;
}

.navList {
  list-style: none;
  padding-left: 0;
}

.navList li {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .navList {
    display: flex;
    align-items: center;
  }

  .navList li {
    margin-left: 15px;
    margin-bottom: 0;
  }

  .navList li:last-of-type {
    padding: 8px 15px;
    border-radius: 50px;
    background-color: var(--light-green);
    color: var(--very-light-greenish-gray);
  }
}
