.main {
  @apply w-full inset-x-1/2 text-center;
}

.section {
  padding: 1em 0 2em;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.75rem;
}

.section2 {
  background-color: var(--olive-green);
  color: var(--very-light-greenish-gray);
}

.imageContainer {
  overflow: hidden;
  margin: 3em auto 3em;
  border-radius: 10px;
}

.section3 {
  text-align: center;
}

.advantagesList {
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 3em 0;
  }

  .sectionContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    align-items: center;
  }

  .imageContainer {
    margin: 0 auto;
    width: 100%;
  }

  .section2Content {
    direction: rtl;
  }
}

@media screen and (min-width: 1200px) {
  .section1Content div p {
    max-width: 90%;
  }

  .contactContent {
    align-items: center;
  }
}
