.main {
  text-align: center;
  min-width: 100%;
}

.intro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 4em;
}

.introParagraph {
  max-width: 80%;
  margin-right: auto;
  padding-top: 1em;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.6rem;
  align-self: center;
}

.introImageContainer {
  width: 0;
  position: relative;
}

.section {
  padding: 1em 0 2em;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.75rem;
}

.section2 {
  background-color: var(--olive-green);
  color: var(--very-light-greenish-gray);
}

.imageContainer {
  overflow: hidden;
  margin: 3em auto 3em;
  border-radius: 10px;
}

.section3 {
  text-align: center;
}

.advantagesList {
  list-style: none;
  padding-left: 0;
}

.contact {
  background-color: var(--form-bg-color);
}

.contactContent {
  padding: 1.5em 0;
  text-align: left;
}

.contactImageContainer {
  border-radius: 10px;
  overflow: hidden;
}

.formTitle {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1.5em;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.inputField {
  border-radius: 10px;
  width: 100%;
  font-size: 0.9rem;
  margin-bottom: 2em;
  padding: 0.75em;
  border: 2px solid #bbbbbb;
}

.inputField:focus {
  outline: none;
  border: 2px solid #9bc346;
  transition: 0.1s;
}

.inputField:last-of-type {
  height: 8em;
}

.submit {
  width: 45%;
  padding: 0.8em;
  font-size: 1rem;
  line-height: 1.5em;
  border-radius: 5px;
  border: none;
  background-color: #9bc346;
  color: #eaeaea;
  font-weight: bold;
  text-align: center;
}

.submit:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .introParagraph {
    max-width: 65%;
    padding-top: 2.5em;
    font-size: 1.2rem;
  }

  .section {
    padding: 3em 0;
  }

  .sectionContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    align-items: center;
  }

  .imageContainer {
    margin: 0 auto;
    width: 100%;
  }

  .section2Content {
    direction: rtl;
  }

  .contactContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    align-items: flex-start;
  }

  .formTitle {
    margin-top: 0;
  }
}
  
@media screen and (min-width: 1200px) {
  .intro {
    gap: 2em;
    margin-bottom: 5em;
  }

  .introParagraph {
    width: 100%;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .introImageContainer {
    width: 100%;
    min-height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }

  .section1Content div p {
    max-width: 90%;
  }

  .contactContent {
    align-items: center;
  }

  .inputField {
    border-radius: 10px;
    font-size: 1.25rem;
    width: 100%;
    margin-bottom: 2em;
    padding: 0.75em;
    border: 2px solid #bbbbbb;
  }
}