.main {
  text-align: center;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  margin: 3em auto 1.5em;
  align-items: center;
  justify-content: center;
}

.linkButton {
  width: 300px;
  margin: 0.5em;
  padding: 0.9em 1em;
  border-radius: 10px;
  color: var(--very-light-greenish-gray);
  background-color: var(--light-green);
  text-decoration: none;
  font-family: var(--button-font);
  font-size: 1.15em;
  font-weight: 700;
}

.linkButton:first-of-type {
  margin-bottom: 2em;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 4em;
}

.introParagraph {
  max-width: 80%;
  margin-right: auto;
  padding-top: 1em;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.6rem;
  align-self: center;
}

.introImageContainer {
  width: 0;
  position: relative;
}

.cardContainer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.card {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 7px -2px rgba(72,84,53,0.55); 
  box-shadow: 0 0 7px -2px rgba(72,84,53,0.55);
  overflow: hidden;
  min-width: 250px;
  margin-bottom: 3em;
  align-self: stretch;
}

.cardImageContainer {
  width: 100%;
  min-height: 450px;
  position: relative;
}

.card p {
  font-size: 1.1rem;
  line-height: 1.75rem;
  padding: 1em 0.5em;
}

.section {
  padding: 1em 0 2em;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.75rem;
}

.section2 {
  background-color: var(--olive-green);
  color: var(--very-light-greenish-gray);
}

.imageContainer {
  overflow: hidden;
  margin: 3em auto 3em;
  border-radius: 10px;
}

.section3 {
  text-align: center;
}

.advantagesList {
  list-style: none;
  padding-left: 0;
}

.contact {
  background-color: var(--form-bg-color);
}

.contactContent {
  padding: 1.5em 0;
  text-align: left;
}

.contactImageContainer {
  border-radius: 10px;
  overflow: hidden;
}

.formTitle {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1.5em;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

@media screen and (min-width: 768px) {
  .buttonsContainer {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .linkButton {
    width: 360px;
    margin: 0.5em;
    padding: 0.85em 1em;
    border-radius: 10px;
    font-size: 1.25em;
  }

  .linkButton:first-of-type {
    margin-bottom: 0.5em;
  }

  .introParagraph {
    max-width: 65%;
    padding-top: 2.5em;
    font-size: 1.2rem;
  }

  .cardContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    max-width: 45%;
  }

  .section {
    padding: 3em 0;
  }

  .sectionContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    align-items: center;
  }

  .imageContainer {
    margin: 0 auto;
    width: 100%;
  }

  .section2Content {
    direction: rtl;
  }

  .contactContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    align-items: flex-start;
  }

  .formTitle {
    margin-top: 0;
  }
}
  
@media screen and (min-width: 1200px) {
  .buttonsContainer {
    max-width: 950px;
    justify-content: space-between;
  }

  .linkButton {
    width: 420px;
    font-size: 1.5em;
  }

  .hero {
    gap: 2em;
    margin-bottom: 5em;
  }

  .introParagraph {
    width: 100%;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .introImageContainer {
    width: 100%;
    min-height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }

  .cardContainer {
    justify-content: space-between;
  }

  .card {
    max-width: 30%;
  }

  .section1Content div p {
    max-width: 90%;
  }
}