.linkButton {
  width: 300px;
  margin: 0.5em;
  padding: 0.9em 1em;
  border-radius: 10px;
  color: var(--very-light-greenish-gray);
  background-color: var(--light-green);
  text-decoration: none;
  font-family: var(--button-font);
  font-size: 1.15em;
  font-weight: 700;
  -webkit-box-shadow: 0 0 7px -2px rgba(72,84,53,0.55); 
  box-shadow: 0 0 7px -2px rgba(72,84,53,0.55);
}

.linkButton:first-of-type {
  margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
  .linkButton {
    width: 360px;
    margin: 0.5em;
    padding: 0.85em 1em;
    border-radius: 10px;
    font-size: 1.25em;
  }

  .linkButton:first-of-type {
    margin-bottom: 0.5em;
  }
}

@media screen and (min-width: 1200px) {
  .linkButton {
    width: 420px;
    font-size: 1.5em;
  }
}
