.linkButton {
  @apply w-96 m-2 p-4 rounded-xl text-gray-50 bg-green-100 no-underline font-bold
  text-lg shadow-xl;
}

.linkButton:first-of-type {
  margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
  .linkButton {
    width: 360px;
    margin: 0.5em;
    padding: 0.85em 1em;
    border-radius: 10px;
    font-size: 1.15em;
  }

  .linkButton:first-of-type {
    margin-bottom: 0.5em;
  }
}

@media screen and (min-width: 1200px) {
  .linkButton {
    width: 420px;
    font-size: 1.25em;
  }
}
