.container {
  min-height: 100vh;
  padding: 0 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #fdfdfd;
}

.header {
  width: 70%;
  max-width: 400px;
  margin: 2em auto 1.125em;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.logo_container {
  max-width: 300px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

.title {
  font-size: 2.5em;
  max-width: 500px;
  text-align: center;
  color: #485437;
  margin-top: 0.25em;
}

.buttons_container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact_button {
  width: 90%;
  max-width: 300px;
  margin: 1.25em auto 1em;
  padding: 1.125em 1em;
  font-size: 1rem;
  line-height: 1.5em;
  border-radius: 5px;
  border: none;
  background-color: #9bc346;
  color: #eaeaea;
  font-weight: bold;
  text-align: center;
}

.contact_button:hover {
  cursor: pointer;
}

.whatsapp_button {
  color: #9bc346;
  background-color: #fdfdfd;
  border: 2px solid #9bc346;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #fdfdfd;
  z-index: 1;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  max-width: 400px;
  transition: 0.7s ease;
}

.aside_show {
  bottom: 0;
}

.form_top {
  width: 100%;
  padding: 1em;
  position: relative;
}

.close_form {
  position: absolute;
  bottom: 40%;
  right: 0;
  margin-right: 5%;
  border-radius: 50%;
  box-shadow: 0 0 7px #999999;
  background-color: #fdfdfd;
  transition: 0.5s ease;
  transition-delay: 0.5s;
  transform: rotateZ(180deg);
}

.close_form_open {
  transform: rotateZ(0deg);
}

.form_title {
  max-width: 90%;
  font-size: 2rem;
}

.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  max-width: 400px;
}

.input_field {
  border-radius: 5px;
  font-size: 1.25rem;
  width: 100%;
  margin-bottom: 2em;
  padding: 0.75em;
  border: 2px solid #bbbbbb;
}

.input_field:focus {
  outline: none;
  border: 2px solid #9bc346;
  transition: 0.1s;
}

.input_field:last-of-type {
  height: 150px;
}

.submit {
  width: 45%;
  padding: 1em;
  margin-bottom: 1.5em;
  font-size: 1rem;
  line-height: 1.5em;
  border-radius: 5px;
  border: none;
  background-color: #9bc346;
  color: #eaeaea;
  font-weight: bold;
  text-align: center;
}

.submit:hover {
  cursor: pointer;
}

.text {
  color: #485437;
  font-size: 1.25rem;
}

.message_sent_container {
  width: 60%;
  max-width: 300px;
  transform: rotateY(360deg);
  transition: 0.3s;
  transition-delay: 0.7s;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.social_media_icons_container {
  width: 50%;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.icon {
  cursor: pointer;
}

@media (min-width: 750px) {
  .buttons_container {
    margin-top: 2em;
  }

  .aside {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 3rem;
  }

  .main {
    width: 70%;
    max-width: 875px;
  }

  .buttons_container {
    flex-direction: row-reverse;
  }

  .aside {
    max-width: 400px;
  }
}
