.mainContainer {
  min-height: 100vh;
  padding-top: 0.5em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdfdfd;
  font-family: var(--main-font);
  color: var(--dark-green);
}

@media screen and (min-width: 1200px) {
  .mainContainer {
    font-size: 1.15rem;
  }
}
